.profile{
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    }

.asd{
    font-size: 20px; 
    letter-spacing:3px; 
    text-align: center;

}
.qq{
    text-align: center; 
    font-family: sans-serif;
}
.box{
    width: 100px;
    height: 100px;
    background-color:cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: blanchedalmond;
    box-shadow: 5px 10px #888888;
}

.kk {
    
}
